<web-app>
  <display-name>Guice Hello</display-name>

  <context-param>
    <param-name>resteasy.guice.modules</param-name>
    <param-value>com.orangelit.stocktracker.web.modules.WebAppModule</param-value>
  </context-param>

  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>

  <listener>
    <listener-class>
      org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>resteasy</servlet-name>
    <servlet-class>
      com.googlecode.htmleasy.HtmleasyServletDispatcher
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

</web-app>